name: Build sunxi-tools

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: |
          base-devel
          git
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-libusb
          pkg-config
    
    - name: Build
      shell: msys2 {0}
      run: |
        # 直接在代码目录构建
        make
        
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: sunxi-fel-exe
        path: sunxi-fel.exe
